* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Kumbh Sans";
}

body {
  background-color: hsl(0, 0%, 100%);
}

.container {
  height: 100vh;
  width: 85%;
  max-width: 1150px;
  margin: 0px auto;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-block: 12px 20px;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.menu-logo {
  margin-right: 16px;
  display: none;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: hsl(219, 9%, 45%);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 60px;

  position: relative;
}

.cart-display {
  position: absolute;
  top: 70px;
  width: 360px;
  /* min-height: 200px; */
  right: -10px;
  background-color: white;
  z-index: 1000;
  border-radius: 10px;
}

.cart-display > h1 {
  font-size: 20px;
  padding-block: 16px;
  padding-inline-start: 16px;
  border-bottom: 1px solid black;
}

.cart-display-content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
  min-height: 180px;
  padding-block: 16px;
}

.cart-link {
  z-index: 1000;
}

.cart-link img {
  cursor: pointer;
}

.nav-right .profile-avatar img {
  height: 45px;
  aspect-ratio: 1;
}

/* main */
.main-container {
  display: flex;
  align-items: center;
  min-height: calc(100% - 84px);
}

main {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 84%;
  height: 500px;
  max-width: 1000px;
  margin: 40px auto;
}

/* CAROUSEL */
.carousel-wrapper {
  /* width: 100%; */
  display: grid;
  grid-template-rows: 4fr 1fr;
  /* grid-template-rows: 15px 4fr 1fr;  with lightbox*/
  max-width: 376px;
  height: 100%;
  min-height: 400px;
  gap: 20px;
}

.carousel {
  position: relative;
  /* width: 100%; */
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 14px;
  object-position: center;
}

.image-thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  height: 100%;
}

.image-thumbnails img {
  max-width: 100%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 10px;
}

/* .carousel ul {
    list-style: none;
    display: relative;
  } */

.carousel-button {
  display: none;
}

/* add to cart */
.add-to-cart h1 {
  font-size: 20px;
  text-transform: uppercase;
  color: hsl(26, 100%, 55%);
  margin-bottom: 16px;
}

.add-to-cart h2 {
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 26px;
}

.add-to-cart p {
  color: hsl(219, 9%, 45%);
}

.price-display,
.current-price-display {
  display: flex;
}

.price-display {
  margin-top: 16px;
  flex-direction: column;
  gap: 10px;
}

.current-price-display {
  gap: 16px;
  /* align-items: center; */
}

.current-price-display .current-price {
  font-weight: 700;
  font-size: 26px;
  color: black;
}

.current-price-display .current-discount {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  font-size: 16px;
  height: min-content;
  padding: 4px 4px 0px 4px;
  font-weight: bold;
  border-radius: 4px;
}

.prev-price-display {
  text-decoration: line-through;
}

.cart-functionality {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 3fr 5fr;
  align-items: center;
  gap: 24px;
}

.quantity-buttons {
  display: flex;
}

.quantity-buttons input,
.quantity-buttons button {
  border: none;
  padding-block: 6px;
  background-color: hsl(223, 64%, 98%);
  font-weight: 600;
  height: 48px;
}

.quantity-buttons input {
  text-align: center;
  font-size: 16px;
  width: 50%;
}

.quantity-buttons button {
  color: hsl(26, 100%, 55%);
  font-size: 28px;
  width: 25%;
  text-align: center;
  border-radius: 4px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-button {
  background-color: hsl(26, 100%, 55%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: none;
  border-radius: 6px;
  height: 54px;
}

.cart-button img {
  filter: invert(94%) sepia(0%) saturate(0%) hue-rotate(103deg) brightness(164%)
    contrast(101%);
}

.cart-button p {
  color: hsl(223, 64%, 98%);
  font-weight: bold;
  font-size: 18px;
  margin-top: 3px;
}

.quantity-buttons button {
  cursor: pointer;
}

/* 
MOBILE
      TAB
         NAVIGATION
                    STYLE

*/

@media (max-width: 1100px) {
  .nav-links {
    display: none;
  }

  nav.nav {
    padding-inline: 24px;
    border: none;
    padding-block-end: 0px;
  }

  .nav-right {
    gap: 32px;
  }

  .nav-links {
    position: fixed;
    /* display: flex; */
    background-color: #fff;
    inset: 0% 30% 0% 0%;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 26px;
    z-index: 9999;
  }

  .nav-links[data-visible="true"] {
    display: flex;
  }

  .cart-display {
    right: 20px;
  }

  .menu-logo {
    display: inline-block;
    position: absolute;
    background-image: url(images/icon-menu.svg);
    background-repeat: no-repeat;
    /* background-color: red; */
    /* left: 26px; */
    z-index: 99999;
    width: 1rem;
    aspect-ratio: 1;
    margin-top: 4px;
    cursor: pointer;
    border: none;
    outline: none;
  }

  .image-logo {
    margin-left: 38px;
  }

  /* CAROUSEL */
  .container {
    width: 100%;
    max-width: none;
  }

  main {
    grid-template-columns: 1fr;
    height: auto;
    width: 100%;
    margin-top: 20px;
  }

  .carousel-wrapper {
    height: 50vh;
    width: 100%;
    grid-template-rows: 1fr;
    max-width: 600px;
    margin: 0px auto;
  }

  .image-thumbnails {
    display: none;
  }

  .slide {
    width: 100%;
    border-radius: 0;
  }

  .carousel-button {
    position: absolute;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1;
    z-index: 99;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .carousel-button img {
    width: 10px;
    height: 15px;
  }

  .carousel-button.prev {
    left: 1rem;
  }

  .carousel-button.next {
    right: 1rem;
  }
  /* ADD TO CART */

  .add-to-cart {
    padding-inline: 24px;
  }

  .add-to-cart h2 {
    font-size: 36px;
  }

  .price-display {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    margin-inline: auto;
  }

  .cart-functionality {
    /* grid-template-columns: 1fr; */
    max-width: 768px;
    /* margin-top: 28px; */
    margin-inline: auto;
  }

  .add-to-cart h2 br {
    display: none;
  }

  .nav-links a {
    font-size: 18px;
    font-weight: bold;
    color: hsl(0, 0%, 0%);
  }
}
